@media (max-width: 1381px) {
  main section {
    margin-top: 50px;
  }
  main section #behind {
    width: 15%;
  }
  main section #about1-2 .about {
    font-size: 1rem;
    width: 350px;
  }
  main section #about1-2 .about2 {
    font-size: 1rem;
    width: 350px;
  }
  main section .about3 ul {
    font-size: 1rem;
    width: 350px;
  }
  main section .about3 ul h1 {
    font-size: 21px;
  }
  main section .about3 .first-ul {
    padding-top: 1.7rem;
  }
  main section .about3 .second-ul {
    padding-left: 1.5rem;
    padding-top: 0.8rem;
  }
  main section .about3 .third-ul {
    padding-top: 1.7rem;
  }
  main section .headings p {
    font-size: 20px;
  }
  main #discover .delete {
    display: none;
  }
  main #discover #block1-2 {
    width: 80%;
  }
  main #discover #block1-2 .block1, main #discover #block1-2 .block2 {
    width: 47%;
    background: rgb(233, 232, 219);
  }
}
@media (max-width: 1181px) {
  main {
    width: 100%;
  }
  main section #photo-me {
    width: calc(25% - 50px);
    margin: 5px;
  }
  main section .headings {
    width: 30px;
  }
}
@media (max-width: 1125px) {
  main {
    height: 100%;
  }
  main section {
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  main section #photo-me {
    margin-left: 25%;
    width: calc(60% - 50px);
  }
  main section .about3, main section .headings {
    grid-row-start: 2;
  }
  main section #behind {
    width: 50%;
    height: 104%;
  }
  main section .about3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  main section .about3 ul {
    justify-self: center;
    background-color: #f1efe9;
  }
  main section .about3, main section .headings {
    margin-top: 70px;
  }
  main section .headings {
    width: 50%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding: 4px;
  }
  main .icon1 img, main .icon2 img, main .icon3 img, main .icon4 img, main .icon5 img, main .icon6 img {
    min-width: 35%;
  }
  main #discover .headings {
    width: 22px;
  }
  main #discover .headings p {
    font-size: 21px;
  }
  main #discover #behind2 {
    width: 50%;
    height: 104%;
  }
}
@media (max-width: 1025px) {
  #navbar {
    position: static;
  }
  #navbar #logo {
    height: 50px;
  }
  #navbar ul li a {
    font-size: 20px;
  }
  header .background-img {
    margin-top: 0px;
  }
  header .background-img #opacity h1 {
    font-size: 8vh;
  }
  header .background-img #opacity h2 {
    font-size: 4.2vh;
  }
  header .background-img #opacity .get-to-know-me {
    font-size: 20px;
    width: 170px;
  }
  main section .about3 .second-ul {
    padding-top: 25px;
  }
  main section .about3 .second-ul .delete {
    display: none;
  }
  main #design .developer1 {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: end;
  }
  main #design .developer2 {
    margin-bottom: 10px;
  }
  main #discover {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  main #discover .headings {
    margin-bottom: 30px;
    border-right: 0px;
    border-left: 0px;
    border-top: 5px solid #d4c6e6;
    flex-direction: row;
    height: 4vh;
    width: 100%;
    position: relative;
    align-self: self-start;
  }
  main #discover .headings p {
    margin-left: 10px;
  }
  main #discover #block1-2 {
    width: 100%;
  }
  main #discover #block1-2 .block1, main #discover #block1-2 .block2 {
    min-width: 45%;
  }
  main #discover #block1-2 .block1 h1, main #discover #block1-2 .block2 h1 {
    font-size: 28px;
  }
}
@media (max-width: 921px) {
  header .background-img #opacity h1 {
    font-size: 6.8vh;
  }
  header .background-img #opacity h2 {
    font-size: 3vh;
  }
  header .background-img #opacity .left-right {
    height: 184px;
  }
  header .background-img #opacity .left-right .left-pan {
    width: 39vh;
  }
  header .background-img #opacity .left-right .right-pan {
    width: 39vh;
  }
  header .background-img #opacity .get-to-know-me {
    font-size: 19px;
    width: 170px;
  }
  main section #photo-me {
    width: calc(60% - 50px);
    height: 350px;
  }
  main section #about1-2 .about {
    font-size: 0.9rem;
    width: 300px;
  }
  main section #about1-2 .about2 {
    font-size: 0.9rem;
    width: 300px;
  }
  main section .about3 ul {
    font-size: 0.9rem;
    width: 300px;
  }
  main section .about3 .second-ul {
    padding-top: 26px;
  }
  main #design .icon1 img, main #design .icon2 img, main #design .icon3 img, main #design .icon4 img, main #design .icon5 img, main #design .icon6 img {
    min-width: 45%;
  }
  main #design h1 {
    font-size: 1.8rem;
  }
  main #design p {
    font-size: 0.9rem;
  }
}
@media (max-width: 769px) {
  #navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 150px;
  }
  #navbar a #logo {
    width: 90px;
    margin: 0px auto;
  }
  #navbar ul li {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #navbar ul li a {
    transition: none;
    pointer-events: none;
    font-size: 18px;
  }
  header .background-img {
    height: 85vh;
  }
  header .background-img #opacity {
    height: 85vh;
  }
  header .background-img #opacity h1 {
    font-size: 6.5vh;
  }
  header .background-img #opacity h2 {
    font-size: 3.2vh;
  }
  header .background-img #opacity .left-right {
    height: 160px;
  }
  header .background-img #opacity .left-right .left-pan {
    transition: none;
    pointer-events: none;
    width: 35vh;
  }
  header .background-img #opacity .left-right .left-pan h3 {
    font-size: 2.5vh;
  }
  header .background-img #opacity .left-right .right-pan {
    transition: none;
    pointer-events: none;
    width: 35vh;
  }
  header .background-img #opacity .left-right .right-pan a h3 {
    font-size: 2.5vh;
    transition: none;
    pointer-events: none;
  }
  header .background-img #opacity .get-to-know-me {
    font-size: 16px;
    width: 150px;
    transition: none;
    pointer-events: none;
  }
  main section {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  main section #behind {
    width: 50%;
    height: 103%;
  }
  main section #photo-me {
    margin-top: 30px;
    width: 33%;
    margin-left: 0;
  }
  main section #about1-2 {
    margin-top: 30px;
    position: relative;
    width: 100%;
  }
  main section #about1-2 .about {
    background-color: #f1efe9;
    width: 350px;
    align-self: flex-start;
    margin: 0px;
  }
  main section #about1-2 .about2 {
    box-shadow: 0 10px 0 -5px #b198d2;
    background-color: #d4c6e6;
    width: 350px;
    align-self: flex-end;
    margin-top: 5px;
    text-align: end;
  }
  main section .about3 {
    margin-top: 30px;
  }
  main section .about3 ul {
    color: #b198d2;
  }
  main section .headings {
    margin-top: 0px;
    border-right: 0px;
    border-top: 5px solid #d4c6e6;
    flex-direction: row;
    height: 4vh;
    padding-right: 40px;
    width: 100%;
    position: relative;
    align-self: self-start;
  }
  main section .headings:nth-child(5) {
    order: -1;
  }
  main section .headings p {
    color: #f1efe9;
  }
  main section .headings .m, main section .headings .e {
    color: #d4c6e6;
  }
  main #design .design1, main #design .design2, main #design .design3, main #design .developer1, main #design .developer2, main #design .developer3 {
    height: 270px;
    margin: 0px;
  }
  main #design .icon1 img, main #design .icon2 img, main #design .icon3 img, main #design .icon4 img, main #design .icon5 img, main #design .icon6 img {
    min-width: 50%;
  }
  main #design .text1 h1, main #design .text3 h1, main #design .text5 h1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: start;
  }
  main #design h1 {
    text-align: end;
  }
}
@media (max-width: 616px) {
  #navbar a #logo {
    margin: 0px auto;
  }
  #navbar a #logo p {
    font-size: 23px;
  }
  #navbar ul li a {
    font-size: 17px;
  }
  #navbar ul li a:not(:last-child) {
    margin-right: 40px;
  }
  header .background-img #opacity h1 {
    font-size: 6.2vh;
  }
  header .background-img #opacity h2 {
    font-size: 3vh;
  }
  header .background-img #opacity .left-right {
    height: 140px;
  }
  header .background-img #opacity .left-right .left-pan {
    width: 27vh;
  }
  header .background-img #opacity .left-right .left-pan #icons {
    transform: scale(0.9);
  }
  header .background-img #opacity .left-right .left-pan a h3 {
    font-size: 2.2vh;
  }
  header .background-img #opacity .left-right .right-pan {
    width: 27vh;
  }
  header .background-img #opacity .left-right .right-pan #icons-right {
    transform: scale(0.9);
  }
  header .background-img #opacity .left-right .right-pan a h3 {
    font-size: 2.2vh;
  }
  main #design .icon1 img, main #design .icon2 img, main #design .icon3 img, main #design .icon4 img, main #design .icon5 img, main #design .icon6 img {
    min-width: 60%;
  }
  main #design h1 {
    font-size: 1.5rem;
  }
  main #design p {
    font-size: 0.8rem;
  }
  main #discover #block1-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main #discover #block1-2 .block1, main #discover #block1-2 .block2 {
    margin-bottom: 20px;
    min-width: 75%;
  }
  main #discover #block1-2 .block1 h1, main #discover #block1-2 .block2 h1 {
    margin-top: 5px;
    font-size: 22px;
  }
  main #discover #block1-2 .block1 p, main #discover #block1-2 .block2 p {
    margin-top: 5px;
    font-size: 0.8rem;
  }
}
@media (max-width: 481px) {
  #navbar {
    height: 280px;
    position: static;
  }
  #navbar a #logo {
    margin: 0px auto;
  }
  #navbar a #logo p {
    font-size: 21px;
  }
  #navbar ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #navbar ul li a {
    margin-bottom: 20px;
  }
  #navbar ul li a:not(:last-child) {
    margin-left: 40px;
  }
  #navbar ul li a:last-child {
    margin: 0px;
  }
  header .background-img {
    margin-top: 0;
    height: 80vh;
  }
  header .background-img #opacity {
    height: 78vh;
  }
  header .background-img #opacity h1 {
    font-size: 40px;
  }
  header .background-img #opacity h2 {
    font-size: 18px;
  }
  header .background-img #opacity .left-right {
    height: 120px;
  }
  header .background-img #opacity .left-right .left-pan {
    width: 23vh;
  }
  header .background-img #opacity .left-right .left-pan #icons {
    transform: scale(0.8);
  }
  header .background-img #opacity .left-right .left-pan a h3 {
    font-size: 2vh;
  }
  header .background-img #opacity .left-right .right-pan {
    width: 23vh;
  }
  header .background-img #opacity .left-right .right-pan #icons-right {
    transform: scale(0.8);
  }
  header .background-img #opacity .left-right .right-pan a h3 {
    font-size: 2vh;
  }
  header .background-img #opacity .get-to-know-me {
    width: 130px;
    font-size: 14px;
  }
  main section #photo-me {
    width: 35%;
    height: 250px;
  }
  main #design .design1, main #design .design2, main #design .design3, main #design .developer1, main #design .developer2, main #design .developer3 {
    display: flex;
    flex-direction: column;
  }
  main #design .design1 .icon1 img, main #design .design1 .icon2 img, main #design .design1 .icon3 img, main #design .design1 .icon4 img, main #design .design1 .icon5 img, main #design .design1 .icon6 img, main #design .design2 .icon1 img, main #design .design2 .icon2 img, main #design .design2 .icon3 img, main #design .design2 .icon4 img, main #design .design2 .icon5 img, main #design .design2 .icon6 img, main #design .design3 .icon1 img, main #design .design3 .icon2 img, main #design .design3 .icon3 img, main #design .design3 .icon4 img, main #design .design3 .icon5 img, main #design .design3 .icon6 img, main #design .developer1 .icon1 img, main #design .developer1 .icon2 img, main #design .developer1 .icon3 img, main #design .developer1 .icon4 img, main #design .developer1 .icon5 img, main #design .developer1 .icon6 img, main #design .developer2 .icon1 img, main #design .developer2 .icon2 img, main #design .developer2 .icon3 img, main #design .developer2 .icon4 img, main #design .developer2 .icon5 img, main #design .developer2 .icon6 img, main #design .developer3 .icon1 img, main #design .developer3 .icon2 img, main #design .developer3 .icon3 img, main #design .developer3 .icon4 img, main #design .developer3 .icon5 img, main #design .developer3 .icon6 img {
    max-width: 55%;
  }
  main #design .design1 .text2, main #design .design1 .text4, main #design .design1 .text6, main #design .design2 .text2, main #design .design2 .text4, main #design .design2 .text6, main #design .design3 .text2, main #design .design3 .text4, main #design .design3 .text6, main #design .developer1 .text2, main #design .developer1 .text4, main #design .developer1 .text6, main #design .developer2 .text2, main #design .developer2 .text4, main #design .developer2 .text6, main #design .developer3 .text2, main #design .developer3 .text4, main #design .developer3 .text6 {
    order: 2;
    width: 90%;
  }
  main #design .design1 .text1, main #design .design1 .text3, main #design .design1 .text5, main #design .design2 .text1, main #design .design2 .text3, main #design .design2 .text5, main #design .design3 .text1, main #design .design3 .text3, main #design .design3 .text5, main #design .developer1 .text1, main #design .developer1 .text3, main #design .developer1 .text5, main #design .developer2 .text1, main #design .developer2 .text3, main #design .developer2 .text5, main #design .developer3 .text1, main #design .developer3 .text3, main #design .developer3 .text5 {
    width: 90%;
  }
  main #design .design1 .icon2, main #design .design1 .icon4, main #design .design1 .icon6, main #design .design2 .icon2, main #design .design2 .icon4, main #design .design2 .icon6, main #design .design3 .icon2, main #design .design3 .icon4, main #design .design3 .icon6, main #design .developer1 .icon2, main #design .developer1 .icon4, main #design .developer1 .icon6, main #design .developer2 .icon2, main #design .developer2 .icon4, main #design .developer2 .icon6, main #design .developer3 .icon2, main #design .developer3 .icon4, main #design .developer3 .icon6 {
    order: 1;
  }
}
@media (max-width: 428px) {
  header .background-img {
    height: 80vh;
  }
  header .background-img #opacity {
    height: 80vh;
  }
  main #design #des, main #design #dev {
    height: 70px;
  }
}
@media (max-width: 412px) {
  header .background-img {
    height: 70vh;
  }
  header .background-img #opacity {
    height: 70vh;
  }
  header .background-img #opacity h1 {
    font-size: 38px;
  }
  header .background-img #opacity h2 {
    font-size: 16px;
  }
  header .background-img #opacity .left-right {
    height: 240px;
    flex-direction: column;
    margin-top: 20px;
  }
  header .background-img #opacity .left-right .left-pan {
    width: 23vh;
    margin-right: 0px;
    margin-bottom: 20px;
  }
  header .background-img #opacity .left-right .left-pan #icons {
    transform: scale(0.8);
  }
  header .background-img #opacity .left-right .left-pan a h3 {
    font-size: 2vh;
  }
  header .background-img #opacity .left-right .right-pan {
    width: 23vh;
  }
  header .background-img #opacity .left-right .right-pan #icons-right {
    transform: scale(0.8);
  }
  header .background-img #opacity .left-right .right-pan a h3 {
    font-size: 2vh;
  }
  header .background-img #opacity .get-to-know-me {
    width: 120px;
    font-size: 13px;
  }
}
@media (max-width: 376px) {
  #navbar #logo {
    margin: 0px auto;
  }
  #navbar ul li a {
    font-size: 15px;
  }
  main section #photo-me {
    width: 40%;
    height: 200px;
  }
  main section #about1-2 .about {
    font-size: 0.8rem;
    width: 320px;
    padding: 1rem;
  }
  main section #about1-2 .about2 {
    font-size: 0.8rem;
    width: 320px;
    padding: 1rem;
  }
  main section .about3 ul {
    font-size: 0.8rem;
    width: 200px;
    height: 140px;
  }
  main section .about3 ul h1 {
    font-size: 18px;
  }
  main section .about3 .first-ul {
    padding-top: 2rem;
  }
  main section .about3 .second-ul {
    padding-top: 0.6rem;
  }
  main section .about3 .third-ul {
    padding-top: 1.4rem;
  }
  main #design h1 {
    font-size: 1.3rem;
  }
  main #design .icon1 img, main #design .icon2 img, main #design .icon3 img, main #design .icon4 img, main #design .icon5 img, main #design .icon6 img {
    max-width: 65%;
  }
}
@media (max-width: 321px) {
  header .background-img {
    height: 60vh;
  }
  header .background-img #opacity {
    height: 60vh;
  }
  header .background-img #opacity h1 {
    font-size: 34px;
  }
  header .background-img #opacity h2 {
    font-size: 14px;
  }
  header .background-img #opacity .left-right {
    height: 210px;
  }
  header .background-img #opacity .left-right .left-pan {
    justify-content: center;
    width: 19vh;
  }
  header .background-img #opacity .left-right .left-pan #icons {
    transform: scale(0.7);
  }
  header .background-img #opacity .left-right .left-pan a h3 {
    font-size: 2vh;
  }
  header .background-img #opacity .left-right .right-pan {
    width: 19vh;
    justify-content: center;
  }
  header .background-img #opacity .left-right .right-pan #icons-right {
    transform: scale(0.7);
  }
  header .background-img #opacity .left-right .right-pan a h3 {
    font-size: 2vh;
  }
  header .background-img #opacity .get-to-know-me {
    width: 110px;
    font-size: 12px;
  }
  main section #about1-2 .about {
    font-size: 0.7rem;
    width: 200px;
    height: auto;
    padding: 0.8rem;
  }
  main section #about1-2 .about2 {
    font-size: 0.7rem;
    width: 200px;
    height: auto;
    padding: 0.8rem;
  }
  main #discover #block1-2 .block1 h1, main #discover #block1-2 .block2 h1 {
    margin-top: 3px;
    font-size: 19px;
  }
}/*# sourceMappingURL=responsive.css.map */